In [1]:
! pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: async-generator>=1.9 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\administrator\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\administrator\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\administrator\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\administrator\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\administrator\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [124]:
import selenium
import pandas as pd
from selenium import webdriver

In [278]:
driver = webdriver.Chrome(r"C:/Users/Administrator/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-278-7b2b6308da40>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/Administrator/Downloads/chromedriver_win32/chromedriver.exe")

In [80]:
driver.close()

In [9]:
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [10]:
driver.get(url)

In [30]:
job_title=[]
job_location=[]
company_names=[]
experience_required=[]

title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

for a in title:
    title=a.text
    job_title.append(title.split('/'))
job_title

tittle = []
for e in range(0,len(job_title),1)[0:10]:
    tittle.append(job_title[e])
tittle

location =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
location[:10]

for b in location:
    location=b.text
    job_location.append(location)
job_location

locations = []
for f in range(0,len(job_location),1)[0:10]:
    locations.append(job_location[f])
locations

companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names

company = []
for g in range(0,len(company_names),1)[0:10]:
    company.append(company_names[g])
company

experience = driver.find_elements_by_xpath(".//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience

for k in experience:
    experiences=k.text
    experience_required.append(experiences)
experience_required

Experience = []
for m in range(0,len(experience_required),1)[0:10]:
    Experience.append(experience_required[m])
Experience

print(len(tittle),len(locations),len(company),len(Experience))

df = pd.DataFrame({"Job_Tittle":tittle,"Location":locations,"Company_name":company,"Experience":Experience})
df

<ipython-input-30-9a4dc37f66ca>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-30-9a4dc37f66ca>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
<ipython-input-30-9a4dc37f66ca>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-30-9a4dc37f66ca>:45: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience = driver.find_elements_by_xpath(".//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

10 10 10 10

,Job_Tittle,Location,Company_name,Experience
0,"[Hiring -Data Analyst, Business Analyst, MIS A...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,"[Business Analyst, Data Analyst- Capital Mark...","Pune, Bangalore/Bengaluru",Genpact,7-12 Yrs
2,[Data Analyst],Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
3,[Data Analyst],Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
4,[Data Analyst],Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
5,[Senior Data Analyst],Bangalore/Bengaluru,Flipkart,3-7 Yrs
6,[Senior Data Analyst for HANA Platform],Bangalore/Bengaluru,Intel,5-10 Yrs
7,[Data Analyst],Bangalore/Bengaluru,NetraDyne Technology India Private Limited,2-5 Yrs
8,"[Assistant, deputy Manager - Geo-spatial Data ...","Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
9,[Data Analyst],Bangalore/Bengaluru,Slice,0-2 Yrs

In [ ]:
#Question - 2

In [3]:
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru"
driver.get(url)

In [24]:
job_title=[]
job_location=[]
company_names=[]


title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

for a in title:
    title=a.text
    job_title.append(title.split('/'))
job_title

tittle = []
for e in range(0,len(job_title),1)[0:10]:
    tittle.append(job_title[e])
tittle

location =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
location[:10]

for b in location:
    location=b.text
    job_location.append(location)
job_location

locations = []
for f in range(0,len(job_location),1)[0:10]:
    locations.append(job_location[f])
locations

companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names

company = []
for g in range(0,len(company_names),1)[0:10]:
    company.append(company_names[g])
company

print(len(tittle),len(locations),len(company))

df = pd.DataFrame({"Job_Tittle":tittle,"Location":locations,"Company_name":company})
df

<ipython-input-24-3c7374ecc49e>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-24-3c7374ecc49e>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
<ipython-input-24-3c7374ecc49e>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

10 10 10

,Job_Tittle,Location,Company_name
0,[Data Scientist],Bangalore/Bengaluru,Snaphunt
1,[Deputy Manager - Data Scientist],Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED
2,[Data Scientist: Advanced Analytics],Bengaluru/Bangalore,IBM India Pvt. Limited
3,[Tcs Hiring For Azure ML Data Scientist],"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services Ltd.
4,[Data Science - Senior Data Scientist],"Noida, Bangalore/Bengaluru",Paytm
5,[Senior Data Scientist],Bangalore/Bengaluru,Ally-Executive
6,[Senior Data Scientist],Bangalore/Bengaluru,Visa
7,"[Lead, Senior Data Scientist (NLP)]",Bangalore/Bengaluru,Samya.AI A FRACTAL Entity
8,[Data scientist],(WFH during Covid),Superior Group
9,[Data Scientist],Bangalore/Bengaluru,Thoucentric Technology Pvt ltd

In [ ]:
#Question :3

In [4]:
url = "https://www.naukri.com/data-scientist-jobs-in-delhi?k=data%20scientist&l=delhi&ctcFilter=3to6&cityTypeGid=9508"
driver.get(url)

In [6]:
job_title=[]
job_location=[]
company_names=[]
experience_required=[]

In [20]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

<ipython-input-20-a73fbad5c0a2>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="236ea8d1-7437-4049-8be6-5b4248784bee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="60d9cc34-55ea-4c3e-8133-7be699013095")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="4c310ed5-c93e-4b74-937c-7013c769fd4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="d6991512-ce50-4132-b755-965610d212b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="bd1a53bd-bd16-4c69-bd49-522bba071fd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="561270de-77b2-4fed-bf4a-63c810e71152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="c411fba5-3b1d-4bab-8da1-3a89f047925b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="43b04b27-0c35-4872-865a-61d88440db04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="70995ecb-0e09-4255-85e6-85305e29575c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d90bfa1acb016b20a28d4e34422ab633", element="5378629d-c8af-41ee-9c81-c096013a2218")>]

In [21]:
for a in title:
    title=a.text
    job_title.append(title.split('/'))
job_title


tittle = []
for e in range(0,len(job_title),1)[0:10]:
    tittle.append(job_title[e])
tittle

location =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
location[:10]

for b in location:
    location=b.text
    job_location.append(location)
job_location

locations = []
for f in range(0,len(job_location),1)[0:10]:
    locations.append(job_location[f])
locations

companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names

company = []
for g in range(0,len(company_names),1)[0:10]:
    company.append(company_names[g])
company

print(len(tittle),len(locations),len(company))

df = pd.DataFrame({"Job_Tittle":tittle,"Location":locations,"Company_name":company})
df

<ipython-input-21-c9127b419156>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
<ipython-input-21-c9127b419156>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

10 10 10

,Job_Tittle,Location,Company_name
0,[Data Scientist],"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.
1,[Data Scientist],"Noida, Nodia",Navikenz India Pvt Ltd
2,"[Data Scientist, Senior Data Scientist]",(WFH during Covid),Newgen Software Technologies
3,[Hiring For Data Scientist],Noida,Tata Consultancy Services Ltd.
4,[Project Manager | Team Leader | Senior Data S...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tidyquant (OPC) Private Limited
5,[Data Scientist],(WFH during Covid),Teleperformance
6,[Senior Data Scientist],Remote,iNICU
7,[Data Scientist],"Gurgaon/Gurugram, Chennai",The Boston Consulting Group (India) Pvt Limited
8,"[NTT DATA_ Hiring For BIG DATA ,DATA Scientist...",Delhi,NTT Data Business Solutions Pvt Ltd
9,[Data Scientist],New Delhi,BlackBuck

In [ ]:
#question - 4

In [31]:
url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [144]:
Brand =[]
Product=[]
Price =[]
Discount=[]

In [223]:
price=driver.find_elements_by_xpath("//div[@class='_25b18c']/div")
price
for i in price:
    price=i.text
    Price.append(price)
Price
Prices = []
for e in range(0,len(Price),3)[0:100]:
    Prices.append(Price[e])
Prices

brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand
for i in brand:
    brand=i.text
    Brand.append(brand)
Brand

Brands= []
for e in range(0,len(Brand),3)[0:100]:
    Brands.append(Brand[e])
Brands

discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
discount
for i in discount:
    discount=i.text
    Discount.append(discount)
Discount

Discounts= []
for j in range(0,len(Discount),1)[0:100]:
    Discounts.append(Discount[j])
Discounts

df1 = pd.DataFrame({"Price":Prices,"Brands":Brands,"Discount":Discounts,"Product":Products})
df1

<ipython-input-223-1add8d77539a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price=driver.find_elements_by_xpath("//div[@class='_25b18c']/div")
<ipython-input-223-1add8d77539a>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-223-1add8d77539a>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

,Price,Brands,Discount,Product
0,₹664,ROYAL SON,67% off,"Polarized, UV Protection Round Sunglasses (53)"
1,₹759,PIRASO,81% off,"Polarized, UV Protection Aviator Sunglasses (58)"
2,₹188,kingsunglasses,83% off,UV Protection Wayfarer Sunglasses (56)
3,₹200,ROZZETTA CRAFT,74% off,UV Protection Aviator Sunglasses (54)
4,₹259,PIRASO,80% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,"₹1,525",Fastrack,60% off,"UV Protection, Gradient Butterfly Sunglasses (60)"
96,"₹2,256",AISLIN,66% off,"UV Protection, Gradient Oval Sunglasses (58)"
97,"₹1,499",Sewell,74% off,UV Protection Round Sunglasses (54)
98,₹999,kingsunglasses,27% off,"UV Protection, Riding Glasses Rectangular, Ret..."
99,"₹1,299",Rich Club,50% off,"by Lenskart Polarized, UV Protection Aviator S..."

In [224]:
print(len(Prices),len(Brands),len(Discounts),len(Products))

100 100 100 100

In [ ]:
#Question :5

In [229]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYL0BETT&marketplace=FLIPKART"
driver.get(url)

In [230]:
Rating =[]
Review=[]
Full_review=[]

In [315]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating

for i in rating:
    rating=i.text
    Rating.append(rating)
Rating

Ratings = []
for g in range(0,len(Rating),1)[0:100]:
    Ratings.append(Rating[g])
Ratings

review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
review
for i in review:
    review=i.text
    Review.append(review)
Review

Reviews = []
for h in range(0,len(Review),1)[0:100]:
    Reviews.append(Review[h])
Reviews

full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
full_review
for i in full_review:
    full_review=i.text
    Full_review.append(full_review)
Full_review

Full_Reviews = []
for o in range(0,len(Full_review),1)[0:100]:
    Full_Reviews.append(Full_review[o])
Full_Reviews

df2 = pd.DataFrame({"Rating":Ratings,"Review":Reviews,"Full_Review":Full_Reviews})
df2

<ipython-input-315-6a701e7a860d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-315-6a701e7a860d>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-315-6a701e7a860d>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")

,Rating,Review,Full_Review
0,5,Mind-blowing purchase,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Wonderful,Really satisfied with the Product I received.....
2,5,Highly recommended,Great iPhone very snappy experience as apple k...
3,5,Classy product,Amazing phone with great cameras and better ba...
4,5,Terrific,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Just wow!,Dear friends... I want to share my experience ...
96,4,Worthless,Just got this iphone 11\nAnd it is most powerf...
97,5,Super!,The best all rounder iphone. Flipkart is doing...
98,5,Excellent,Amazing phone and on great deal I received wit...
99,5,Nice product,finally an iPhone with very nice battery backu...

In [ ]:
#Question: 6

In [126]:
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [204]:
Price_t=[]
Brand_t=[]
Discount_t=[]
Product_t=[]

In [237]:
price_t=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_t
for i in price_t:
    price_t=i.text
    Price_t.append(price_t)
Price_t

Prices_t= []
for j in range(0,len(Price_t),1)[0:100]:
    Prices_t.append(Price_t[j])
Prices_t

<ipython-input-237-561ac44511b4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_t=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

['₹899',
 '₹509',
 '₹474',
 '₹1,800',
 '₹474',
 '₹399',
 '₹499',
 '₹1,299',
 '₹444',
 '₹499',
 '₹474',
 '₹4,499',
 '₹449',
 '₹449',
 '₹241',
 '₹1,048',
 '₹379',
 '₹1,047',
 '₹2,159',
 '₹1,399',
 '₹536',
 '₹339',
 '₹474',
 '₹1,423',
 '₹459',
 '₹3,599',
 '₹449',
 '₹1,999',
 '₹499',
 '₹299',
 '₹322',
 '₹1,199',
 '₹447',
 '₹471',
 '₹427',
 '₹1,049',
 '₹499',
 '₹649',
 '₹398',
 '₹1,398',
 '₹899',
 '₹509',
 '₹474',
 '₹1,800',
 '₹474',
 '₹399',
 '₹499',
 '₹1,299',
 '₹444',
 '₹499',
 '₹474',
 '₹4,499',
 '₹449',
 '₹449',
 '₹241',
 '₹1,048',
 '₹379',
 '₹1,047',
 '₹2,159',
 '₹1,399',
 '₹536',
 '₹339',
 '₹474',
 '₹1,423',
 '₹459',
 '₹3,599',
 '₹449',
 '₹1,999',
 '₹499',
 '₹299',
 '₹322',
 '₹1,199',
 '₹447',
 '₹471',
 '₹427',
 '₹1,049',
 '₹499',
 '₹649',
 '₹398',
 '₹1,398',
 '₹899',
 '₹509',
 '₹474',
 '₹1,800',
 '₹474',
 '₹399',
 '₹499',
 '₹1,299',
 '₹444',
 '₹499',
 '₹474',
 '₹4,499',
 '₹449',
 '₹449',
 '₹241',
 '₹1,048',
 '₹379',
 '₹1,047',
 '₹2,159',
 '₹1,399']

In [239]:
print(len(Prices_t))

100

In [160]:
product_t=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
product_t
for m in product_t:
    product_t=m.text
    Product_t.append(product_t)
Product_t

Products_t= []
for j in range(0,len(Product_t),1)[0:100]:
    Products_t.append(Product_t[j])
Products_t

<ipython-input-160-4ce7c2282e09>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_t=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")

['Sneakers Sneakers For Men',
 'Sneakers For Men',
 'JFWGEORGE KNIT LACE UP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'X Kl Atlanta Sneakers For Men',
 'Ferrari IONSpeed Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'JFWGEORGE KNIT LACE UP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'X Kl Atlanta Sneakers For Men',
 'Ferrari IONSpeed Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'JFWGEORGE KNIT LACE UP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'X Kl Atlanta Sneakers For Men',
 'Ferrari IONSpeed Sneakers For Men',
 'STYLISH-WHITE-9 Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Speeder DP Sneakers For Men',
 'STYLISH-WHITE-9 Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Speeder DP Sneakers For Men',
 'STYLISH-WHITE-9 Sneakers For Men',
 'SOFT Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Speeder DP Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Mesh Running Shoes ,Cricket Shoes Casual & Sports Shoes...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Mesh Running Shoes ,Cricket Shoes Casual & Sports Shoes...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Comfortable Casual Sports Walking Sneakers Fo...',
 'Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Comfortable Casual Sports Walking Sneakers Fo...',
 'Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Comfortable Casual Sports Walking Sneakers Fo...',
 'Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Comfortable Casual Sports Walking Sneakers Fo...',
 'Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Comfortable Casual Sports Walking Sneakers Fo...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Streetwear Pro Style High Top Platform Fashion Sn...",
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-620 Sneakers For Men',
 'Ferrari Rdg Cat Sneakers For Men',
 'Exclusive dancing shoe for boy�s, Funky dancing sneaker...',
 'Sneakers For Men',
 "Men's Streetwear Pro Style High Top Platform Fashion Sn...",
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-620 Sneakers For Men',
 'Ferrari Rdg Cat Sneakers For Men',
 'Exclusive dancing shoe for boy�s, Funky dancing sneaker...',
 'Sneakers For Men',
 "Men's Streetwear Pro Style High Top Platform Fashion Sn...",
 'Sneakers For Men',
 'Sneakers For Men']

In [161]:
print(len(Products_t))

100

In [218]:
discount_t=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
discount_t
for i in discount_t:
    discount_t=i.text
    Discount_t.append(discount_t)
Discount_t

Discounts_t= []
for j in range(0,len(Discount_t),1)[0:100]:
    Discounts_t.append(Discount_t[j])
Discounts_t


print(len(Discounts_t))

<ipython-input-218-ae2d834fced3>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount_t=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

100

In [214]:
brand_t=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_t
for i in brand_t:
    brand_t=i.text
    Brand_t.append(brand_t)
Brand_t

Brands_t= []
for j in range(0,len(Brand_t),1)[0:100]:
    Brands_t.append(Brand_t[j])
Brands_t


print(len(Brands_t))

<ipython-input-214-f598f704d6e5>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_t=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

100

In [213]:
#Question:7

In [245]:
url= "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6099.0_11999.0_6099.0%20TO%2011999.0"
driver.get(url)

In [246]:
Price_m=[]
Brand_m=[]
Discount_m=[]
Product_m=[]

In [254]:
price_m=driver.find_elements_by_xpath("//div[@class='product-price']/span")
price_m
for i in price_m:
    price_m=i.text
    Price_m.append(price_m)
Price_m

Prices_m= []
for j in range(0,len(Price_m),1)[0:100]:
    Prices_m.append(Price_m[j])
Prices_m

<ipython-input-254-1b97806cc812>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_m=driver.find_elements_by_xpath("//div[@class='product-price']/span")

['Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 8249Rs. 14999(45% OFF)',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 8295',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 7599',
 'Rs. 6499',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8500Rs. 10500(Rs. 2000 OFF)',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6293Rs. 8990(30% OFF)',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 9810Rs. 10900(Rs. 1090 OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6990',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 11900Rs. 13900(Rs. 2000 OFF)',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 10350Rs. 11500(Rs. 1150 OFF)',
 'Rs. 9999',
 'Rs. 9800Rs. 13900(Rs. 4100 OFF)',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 6499Rs. 9999(35% OFF)',
 'Rs. 6900Rs. 8900(Rs. 2000 OFF)',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 6791Rs. 7990(15% OFF)',
 'Rs. 7499',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 10499Rs. 14999',
 '(30% OFF)',
 'Rs. 8249Rs. 14999',
 '(45% OFF)',
 'Rs. 6499Rs. 12999',
 '(50% OFF)',
 'Rs. 8295',
 'Rs. 7799Rs. 12999',
 '(40% OFF)',
 'Rs. 6299Rs. 6999',
 '(10% OFF)',
 'Rs. 8099Rs. 8999',
 '(10% OFF)',
 'Rs. 7599',
 'Rs. 6499',
 'Rs. 8999Rs. 9999',
 '(10% OFF)',
 'Rs. 8500Rs. 10500',
 '(Rs. 2000 OFF)',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6499Rs. 12999',
 '(50% OFF)',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6293Rs. 8990',
 '(30% OFF)',
 'Rs. 6499Rs. 12999',
 '(50% OFF)',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 9810Rs. 10900',
 '(Rs. 1090 OFF)',
 'Rs. 8999Rs. 9999',
 '(10% OFF)',
 'Rs. 7999Rs. 9999',
 '(20% OFF)',
 'Rs. 8999Rs. 9999',
 '(10% OFF)',
 'Rs. 8999Rs. 9999',
 '(10% OFF)',
 'Rs. 6990',
 'Rs. 11899Rs. 16999',
 '(30% OFF)',
 'Rs. 10399Rs. 12999',
 '(20% OFF)',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8990']